API_HOST=app-tests
API_PORT=8000
API_VERSION='v1'

ELASTIC_HOST=elasticsearch-tests
ELASTIC_PORT=9200
ELASTIC_FILM_INDEX=movies
ELASTIC_GENRE_INDEX=genres
ELASTIC_PERSON_INDEX=persons

REDIS_HOST=redis-tests
REDIS_PORT=6379