API_HOST=app-tests
API_PORT=8000
API_VERSION='v1'

CURRENT_MODE=test
SECRET_KEY=test
SECURITY_PASSWORD_SALT=test

POSTGRES_DB=movies_auth
POSTGRES_USER=movies_auth
POSTGRES_PASSWORD=movies_auth
DB_HOST=db_tests
DB_PORT=5432

REDIS_HOST=redis-tests
REDIS_PORT=6379
